
<div class="container" style="margin-top: 50px;">
    <%- include('./partials/ResponseAlert',{
        "request":request
    }) %> 
    
    <div class="row">
        <div class="col-md-12">
            <form action="<%= request.mainURL%>/SendRecoveryLink" method="POST">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Email</span>
                    <input type="email" class="form-control" placeholder="abc@xyz.com " name="email" required >
                </div>
            
                <input type="submit" value="Send Recovery Link" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>