
<div class="container" style="margin-top: 50px;">
    <%- include('./partials/ResponseAlert',{
        "request":request
    }) %> 
    
    <div class="row">
        <div class="col-md-12">
            <form action="<%= request.mainURL%>/ResetPassword" method="POST">
                <input type="hidden" name="reset_token" value="<%= reset_token %>">
                <input type="hidden" name="email" value="<%= email%>">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Password</span>
                    <input type="password" class="form-control" placeholder="password" name="new_password" required >
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Confirm Password</span>
                    <input type="password" class="form-control" placeholder="re-enter password" name="confirm_password" required >
                </div>
                <input type="submit" value="Reset Password" class="btn btn-primary">
                
            </form>
        </div>
    </div>

</div>