
<div class="container flex-grow" >
    <%- include('./partials/ResponseAlert',{
        "request":request
    }) %> 
    
    <div class="w-full  md:flex md:justify-center mb-6 mt-12">
        <form action="<%= request.mainURL%>/ResetPassword" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" style="width: 18rem;">
            <input type="hidden" name="reset_token" value="<%= reset_token %>">
            <input type="hidden" name="email" value="<%= email%>">
          <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="new_password">
              New Password
            </label>
            <input name="new_password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="new_password" type="password" placeholder="******************">
          </div>
          <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="confirm_password">
              Confirm Password
            </label>
            <input name="confirm_password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="confirm_password" type="password" placeholder="******************">
          </div>
          <div class="flex items-center justify-between">
            <button class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
              Reset Password
            </button>
          </div>
        </form>
    
      </div>

</div>